body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.rest-score-button,
.auto-play-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}

.side__note {
  font-size: 20px;
  line-height: 1.5em;
  padding: 5em;
}

.container {
  display: flex;
  padding: 5em;
}

@media (max-width: 768px) {
  .side__note {
    display: none;
  }
}
@media (max-width: 1024px) {
  .side__note pre {
    font-size: 13px;
    font-weight: bold;
  }
}
@media (max-width: 1000px) {
  .side__note pre {
    display: none;
  }
}
